awkward==2.9.0
awkward_cpp==52
colorama==0.4.6
contourpy==1.3.3
cramjam==2.11.0
cycler==0.12.1
fonttools==4.62.1
fsspec==2026.3.0
h5py==3.16.0
joblib==1.5.3
kiwisolver==1.5.0
matplotlib==3.10.9
numpy==2.4.4
packaging==26.2
pandas==3.0.2
pillow==12.2.0
pyarrow==24.0.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.3
uproot==5.7.4
xxhash==3.7.0
